header {
    display: flex;
    background-color: #FFE9F6;
    justify-content: space-between;
    
}

header a {
    text-decoration: none;
    color:white;
}

main a {
    text-decoration: none;
    color:#223885;
}

footer a {
    text-decoration: none;
    color:#223885;
}

.nav_header {
    text-align: right;
    padding-top: 60px;
}

.nav_main {
    background-color: #FFE9F6;
    text-align: right;
    justify-content: center;
    padding-bottom: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #223885;
}

.nav_footer {
    background-color: #FFE9F6;
    text-align: right;
    justify-content: center;
    padding-bottom: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #223885;
}

.button_blue_header {
    background-color: #FFE9F6;
    font-family: 'Gabriela', serif;
    transition: background 0.2s;
    color:white;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    margin-right: 30px;
}

.button_blue_header:hover {
    background-color: #758ad3;
}

.button_blue_header:active {
    background-color: #FF0096;
    color: white;
}

.button_blue {
    background-color: #223885;
    font-family: 'Gabriela', serif;
    color: white;
    transition: background 0.2s;
    border-radius: 8px;
    margin-right: 30px;
}


.button_blue:hover {
    background-color: #758ad3;
}

.button_blue:active {
    background-color: #FF0096;
    color: white;
}

.titulo_blue{
    color: #223885;
    font-family: 'Gabriela', serif;
    font-size: 20px;
}

.titulo_rosa{
    font-family: 'Gabriela', serif;
    color: #FF0096;
    font-size: 25px;
}

.subtitulo_rosa {
    color: #FF0096;
    font-family: 'Gabriela', serif;
    font-size: 19px;
}

p {
    color: #223885;
    font-family: 'Gabriela', serif;
    font-size: 17px;
    text-indent: 10px;
    text-align: justify;
}

.logo_redes_sociais {
    width: 50px;
    margin-left: 20px;
}

.titulo_footer {
    text-align: center;
    font-family: 'Gabriela', serif;
    color: #223885;
    font-size: 20px;
}

.item_footer {
    text-align: center;
    font-family: 'Gabriela', serif;
    color: #223885;
}

.logo_to_gravida{
    width: 250px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
}

