* {
    font-family: 'Gabriela', serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f7ff;
}

main {
    margin-left: 180px;
    margin-right: 180px;
    text-align: center;
}

.div-mobile {
    padding: 0;
}
.mobile img {
    height: 30px;
    width: 30px;
    display: none;
}

@media (max-width: 800px) {
    .mobile img {
        display: block;
        align-items: end;
    }
}

@media (max-width: 1250px){
    main{
         padding-left: 30px;
         padding-right: 30px;               
     }
 }

main section {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: solid 1px #FF0096;
}

@media(max-width: 800px) {
    body nav ul {
        padding: 0;
    }
}

a {
    color: white;
}

@media (max-width: 1250px) {
    .post_index_2 {
        padding-top: 30px;
    } 
}

@media (max-width: 1250px) {
    .post_index_1 {
        padding-top: 30px;
    } 
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FF0096;
}

@media (max-width: 1250px){
    h1{
         font-size: 27px;             
    }
}

@media (max-width: 800px){
    h1{
            font-size: 20px;             
        }
    } 

h2 {
    color: #223885;
}

@media (max-width: 1250px){
    h2{
        font-size: 18px;             
    }
}

@media (max-width: 800px){
    h2{
        font-size: 13px;             
    }
}

h3 {
    color: #FF0096;
}

@media (max-width: 1250px){
    h3{
        font-size: 16px;             
    }
}

@media (max-width: 800px){
    h3{
        font-size: 11px;             
    }
}

.borda_rosa {
    border: solid 2px #FF0096;
    box-shadow: 0px 0px 3px 1px #FF0096;
    padding: 5px;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 15px;
    font-size: 18px;
    left: 10px;
    color: white;
    background-color: rgba(218, 14, 106, 0.7);
    padding: 5px;
}

.post_index_1 {
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 1250px) {
    .post_index_1 {
        flex-direction: column;
        align-items: center; 
    }
}

@media only screen and (max-width: 600px) {
    .post_index_1 {
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .post_index_1 {
        justify-content: space-between;
        text-align: center;
    }
}

.post_index_1 img {
    width: 600px;
}

@media (max-width: 1080px){
    .post_index_1 img {
        width: 300px;
        margin-bottom: 10px;
    }
}

@media (max-width: 800px){
    .post_index_1 img {
       width: 200px;
    }
}

.post_index_2 {
    justify-content: flex-end;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 1250px) {
    .post_index_2 {
        flex-direction: column; 
        align-items: center
    }
}

.post_index_2 img {
    width: 600px;
}

@media (max-width: 1080px){
    .post_index_2 img {
        width: 300px;
        margin-top: 5px;
    }
}

@media (max-width: 800px){
    .post_index_2 img {
       width: 200px;
    }
}

.conteudo_post_main_1 {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 16px;
    color: #223885;   
    text-align: justify;
}

.conteudo_post_main_2 {
    margin-right: 30px;
    margin-top: 10px;
    font-size: 16px;
    color: #223885;   
    text-align: justify;
}

@media (max-width: 1080px){
    .conteudo_post_main_1 {
       font-size: 10;
    }
}

@media (max-width: 1080px){
    .conteudo_post_main_2 {
       font-size: 10;
    }
}

@media (max-width: 1080px){
    .conteudo_post_main_1 {
       font-size: 8;
    }
}

@media (max-width: 1080px){
    .conteudo_post_main_2 {
       font-size: 8;
    }
}

.criar-topico{
    border: 2px solid #FF0096; 
    width: 400px;
    padding: 10px;
}

.texto-descritivo{
    border: 2px solid #FF0096;
    padding: 50px;
}

.botao_cabecalho {
    padding: 10px;
    text-align: right;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-criar-topico {
    color: white;
    background-color: #FF0096;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    margin-right: 100px;
}

#nome {
    width: 160px;
    margin-bottom: 10px;
    border: 2px solid #FF0096;
    font-family: 'Gabriela', serif;
    font-size: 16px;
}


