header {
    display: flex;
    background-color: #FFE9F6;
    justify-content: space-between;
    border-bottom: 1px solid #223885;
    
}
footer {
   border-top: 4px solid #FF0096;
   display: flex;
   height: 100px;
}

a[href="Seu_acompanhamento_gravida.html"], a[href="Seu_acompanhamento_planejamento.html"], 
a[href=""], a[href="cadastro_mãe.html"], a[href="dicas_e_informacoes.html"], a[href="central_de_eventos.html"], 
a[href="Mini_Cursos.html"], a[href="Nossa_Comunidade.html"]{
    text-decoration: none;
    color:#223885;
}

a[href="cadastro_profissional.html"], a[href="login.html"], a[href="index.html"], a[href="profissionais_disponiveis.html"], 
a[href="Quiz.html"] {
    text-decoration: none;
    color:white;
}

a[href="Curso-1.html"], a[href="Curso-2.html"], a[href="Curso-3.html"], a[href="Criar_Topico_Comunidade.html"]{
    text-decoration: none;
    color:white;
}

a[href="Dúvidas_fale_conosco.html"], a[href="Politica_privacidade_termos_uso.html"], a[href="Quem_somos.html"]{
    text-align: right;
    text-decoration: none;
}

fieldset {
    border: 2px solid #FF0096;
}

.nav_header {
    text-align: right;
    padding-top: 60px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.button_blue_header {
    background-color: #FFE9F6;
    font-family: 'Gabriela', serif;
    transition: background 0.2s;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    margin-right: 30px;
}

.button_blue_header:hover {
    background-color: #758ad3;
}

.button_blue_header:active {
    background-color: #FF0096;
    color: white;
}

.button_blue {
    background-color: #223885;
    font-family: 'Gabriela', serif;
    transition: background 0.2s;
    color: white;
    border-radius: 8px;
    margin-right: 30px;
}

.button_blue:hover {
    background-color: #758ad3;
}

.button_blue:active {
    background-color: #FF0096;
    color: white;
}

.button_formulario {
    background-color: #FF0096;
    font-family: 'Gabriela', serif;
    color: white;
    transition: background 0.2s;
    font-size: 20px;
    border-radius: 8px;
    margin-right: 30px;
}

.button_formulario:hover {
    background-color: #d978b0;
}

.button_formulario:active {
    background-color: #223885;
    color: white;
}

.titulo_blue{
    color: #223885;
    font-family: 'Gabriela', serif;
    font-size: 20px;
}

.titulo_rosa{
    font-family: 'Gabriela', serif;
    color: #FF0096;
    font-size: 25px;
}

.subtitulo_rosa {
    color: #FF0096;
    font-family: 'Gabriela', serif;
    font-size: 19px;
}

p {
    color: #223885;
    font-family: 'Gabriela', serif;
    font-size: 17px;
    text-indent: 10px;
    text-align: justify;
}

label {
    color: #223885;
    font-family: 'Gabriela', serif;
}

input {
    color: #223885;
    font-family: 'Gabriela', serif;
}

.observacao{
    color: #223885;
    font-family: 'Gabriela', serif;
    font-size: 12px;
}

.logo_redes_sociais {
    width: 50px;
    margin-left: 20px;
}

.titulo_footer {
    text-align: center;
    font-family: 'Gabriela', serif;
    color: #223885;
    font-size: 20px;
}

.item_footer {
    text-align: center;
    background-color: white;
    border: none;
    font-family: 'Gabriela', serif;
    color: #223885;
}

.logo_to_gravida{
    width: 250px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
}

