:root {
    --rosa-figcaption: #da0e6ab3;
    --rosa-header-claro: #ffedf7;
    --rosa-header-medio: #fcc5e5;
    --rosa-escuro: #FF0096;
    --rosa-claro: #FFE9F6;
    --rosa-claro-box: #fdf2f9;
    --azul-escuro: #223885;
    --azul-medio: #758ad3;
    --azul-claro: #f4f7ff;
    --cinza-header: #d0d3e0;
}

* {
    font-family: 'Gabriela', serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    max-width: 1200px;
  }

@media (max-width: 574px) {
  main{
  margin: 0px 10px 0px auto;
  text-align: center;
  }
  }

h1{
  height: 50px;
  margin-left: auto;
}

.conteiner1{
  display: flex;
  width:914px;
  height:650px;
  background-color: rgba(325, 138, 211, 0.1);
  margin-right: 50px;
  margin-left: 50px;
  padding: 5px;
  border: solid 2px #FF0096;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px #FF0096;
}

@media (max-width: 1145px){
.conteiner1{
  width: 850px;
  }
}

@media (max-width: 990px){
.conteiner1{
  width:800px;
  height:680px ;
  }
}

@media (max-width: 834px){
.conteiner1{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:630px;
  height: 770px;
  }
}

@media (max-width: 740px) {
.conteiner1{
width: 550px;
}
}

@media (max-width: 574px) {
.conteiner1{
width: 350px;
height: 640px;
margin-left: auto;
margin-right: auto;
}
}

/*MOBILE*/
@media (max-width: 390px) {
  .conteiner1{
  width: 260px;
  height: 550px;
  }
}

#imagem-da-sorteada{
margin-top:10px;
margin:10px;
width:350px;
height: 450px;
border: solid 2px #FF0096;
box-shadow: 0px 0px 3px 1px #FF0096;
border-radius: 5px;
width: 100%;
max-width: 265px;
}
#imagem-da-sorteada:hover {
  transform: scale(1.1);
}

@media (max-width: 834px){
#imagem-da-sorteada{
  width: 200px;
  height:190px;
  }
}

@media (max-width: 574px){
#imagem-da-sorteada{
  max-width: 140px;
  max-height:120px;
  }
}

figure{
margin-right: 70px;
margin-left: 25px;
}

@media (max-width: 990px){
figure{
  margin-right: 25px;
  }
}

@media (max-width: 834px){
figure{
  width: 415px;
  height:290px;
  text-align: center;
  }
}

@media (max-width: 574px) {
figure{
width: 220px;
height: 190px;
}
}

figcaption{
font-size:x-large;
color:#FF0096;
margin: 10px;
}


p{
background-color: rgba(325, 138, 211, 0.1);
font-size:large;
color: #223885;
border: solid 2px #FF0096;
box-shadow: 0px 0px 3px 1px #FF0096;
border-radius: 5px;
/*overflow-y: scroll;*/ 
margin-top: 25px;
padding: 10px;
width:400px;
height: 400;
background: linear-gradient(to bottom,#ffedf7, #fcc5e5 );
}
p:hover  {
transform: scale(1.1);
}
/* O nth-child adiciona o estilo apenas no elemento "p" específico*/
.conteiner1 p:nth-child(n){
  overflow-y: scroll;
}

@media (max-width: 834px){
p{
width: 460px;
max-height: 350px; 
transition: max-height 0.4s ease; 
}
}

@media (max-width: 574px){
p{
width: 270px;
font-size: 12px;
max-height: 350px; 
margin-left:auto;
transition: max-height 0.4s ease; 
}
}

/*MOBILE*/
@media (max-width: 390px){
  p{
    width:215px;
    height: 280px;
    margin-left:4px;
    margin-top: 5px;
  }
}

.titulo_blue{
  color: #223885;
  font-size: x-large;
  margin-top: 10px;
}

@media (max-width: 574px){
  .titulo_blue{
    font-size: small;
    margin-bottom: 15px;
    }
  }

.titulo_rosa{
  color: #FF0096;
  font-size: 25px;
  margin:auto;
  width:914px;
  text-align: start;
}

@media (max-width: 1145px){
  .titulo_rosa{
    width: 850px;
    }
  }
  @media (max-width: 834px){
  .titulo_rosa{
    width:639px;
    }
  }
  
  @media (max-width: 574px) {
  .titulo_rosa{
width: 350px;
text-align: center;
  }
}

/*MOBILE*/
@media (max-width: 390px) {
  .titulo_rosa{
width: 280px;
font-size: larger;
  }
}

.ajudar{
  width: 914px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
}

@media (max-width: 1145px){
.ajudar{
  width: 850px;
  }
}

@media (max-width: 990px){
.ajudar{
  width:800px;
  }
}

@media (max-width: 834px){
.ajudar{
  width:630px;
  }
}

@media (max-width: 740px) {
.ajudar{
width: 550px;
}
}

@media (max-width: 574px) {
.ajudar{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
}

/*MOBILE*/
@media (max-width: 390px) {
  .ajudar{
    width: 260px;
  }
}

.texto-como-ajudar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 910px;
  height: 110px;
  margin-right: auto;
  margin-left: auto;
  padding: 3px;
}
@media (max-width: 1145px){
  .texto-como-ajudar{
    width: 850px;
    }
  }

  @media (max-width: 990px){
  .texto-como-ajudar{
    width:800px;
    }
  }

  @media (max-width: 834px){
  .texto-como-ajudar{
    width:630px;
    height: 150px;
    }
  }
  @media (max-width: 738px){
  .texto-como-ajudar{
    width:550px;
    height: 160px;
    }
  }
    
@media (max-width: 574px){
  .texto-como-ajudar{
    width: 350px;
    height: 105px;
    }
  }
  
  /*MOBILE*/
@media (max-width: 390px) {
  .texto-como-ajudar{
  width: 260px;
  height: 120px;
  margin-top: 10px;
  }
}
  
   