:root {
    --rosa-figcaption: #da0e6ab3;
    --rosa-header-claro: #ffedf7;
    --rosa-header-medio: #fcc5e5;
    --rosa-escuro: #FF0096;
    --rosa-claro: #FFE9F6;
    --rosa-claro-box: #fdf2f9;
    --azul-escuro: #223885;
    --azul-medio: #758ad3;
    --azul-claro: #f4f7ff;
    --cinza-header: #d0d3e0;
}

* {
    font-family: 'Gabriela', serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f7ff;
}

main {
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 1200px;
}

@media (max-width: 1250px){
    main {
        padding-left: 80px;
        padding-right: 80px; 
    }
 }

 @media (max-width: 1080px){
    main {
        padding-left: 50px;
        padding-right: 50px; 
    }
 } 

 @media (max-width: 800px){
    main {
        padding-left: 50px;
        padding-right: 50px; 
    }
 } 

main section {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: solid 1px #ff0095;
}

@media (max-width: 800px){
    main section {       
        
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

h1 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #FF0096;
}

@media (max-width: 1250px){
   h1 {
    font-size: 28px;
   }
}

@media (max-width: 1150px){
    h1 {
     font-size: 23px;
    }
}

@media (max-width: 800px){
    h1 {
     font-size: 20px;
    }
}

.borda_rosa {
    border: solid 2px #FF0096;
    box-shadow: 0px 0px 3px 1px #FF0096;
    padding: 5px;
}

@media (max-width: 1080px){
    .main_inicial {
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}

figure {
    position: relative;
}

#figcaption_index {
    display: none;    
}

@media (max-width: 1080px){
    #figcaption_index {
        display: block;
    }
}

figcaption {
    position: absolute;
    bottom: 15px;
    font-size: 17px;
    left: 10px;
    color: white;
    background-color: rgba(218, 14, 106, 0.7);
    padding: 5px;
}

@media (max-width: 1250px){
    figcaption {
        font-size: 15px; 
    }
}

@media (max-width: 1080px){
    figcaption {
        font-size: 14px; 
    }
}

@media (max-width: 800px){
    figcaption {
        font-size: 10px; 
    }
}

#texto_mamae_do_mes {
    margin-left: 30px;
}

.mamae_do_mes {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.mamae_do_mes img {
    width: 700px;
    margin-left: 30px;
}

@media (max-width: 1300px){
    .mamae_do_mes img {
        width: 650px;
    }
}

@media (max-width: 1180px){
    .mamae_do_mes img {
        width: 550px;
    }
}

@media (max-width: 1080px){
    .mamae_do_mes img {
        margin-left: 0px;
        margin-top: 30px;
    }
}

@media (max-width: 800px){
    .mamae_do_mes img {
        width: 450px;
        
    }
}

@media (max-width: 650px){
    .mamae_do_mes img {
        width: 350px;
        
    }
}

@media (max-width: 500px){
    .mamae_do_mes img {
        width: 300px;
        
    }
}

.post_index_1 {
    justify-content: flex-start;
    text-align: center;
}

@media (max-width: 1080px){
    .post_index_1 {
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 1080px){
    #conteudo_post_1 h3{
        display: none;
    }
}

.post_index_1 img {
    width: 500px;
}

@media (max-width: 1080px){
    .post_index_1 img {
        width: 550px;
    }
}

@media (max-width: 800px){
    .post_index_1 img {
        width: 450px;        
    }
}

@media (max-width: 650px){
    .post_index_1 img {
        width: 350px;
        
    }
}

@media (max-width: 500px){
    .post_index_1 img {
        width: 300px;
    }
}

.post_index_2 {
    justify-content: flex-end;
    text-align: center;    
}

.post_index_2 img {
    width: 500px;
}

@media (max-width: 1080px){
    .post_index_2 img {
        width: 550px;
    }
}

@media (max-width: 800px){
    .post_index_2 img {
        width: 450px;
    }
}

@media (max-width: 650px){
    .post_index_2 img {
        width: 350px;
        
    }
}

@media (max-width: 500px){
    .post_index_2 img {
        width: 300px;
    }
}

@media (max-width: 1080px){
    .post_index_2 {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 1080px){
    #conteudo_post_2 h3{
        display: none;
    }
}

.titulo_post_main_1{
    font-size: 20px;
    text-align: center;
    margin-left: 30px;    
    color: #FF0096;
}

@media (max-width: 1250px){
    .titulo_post_main_1 {
        font-size: 18px;
    }
}

@media (max-width: 1080px){
    .titulo_post_main_1 {
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 800px){
    .titulo_post_main_1 {
        font-size: 15px;       
    }
}

.conteudo_post_main_1{
    margin-left: 30px;
    margin-top: 15px;
    font-size: 16px;
    color: #223885;   
    text-align: justify;
}

@media (max-width: 1250px){
    .conteudo_post_main_1 {
        font-size: 15px;
    }
}

@media (max-width: 1080px){
    .conteudo_post_main_1 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 800px){
    .conteudo_post_main_1 {
        font-size: 13px;
    }
}

.titulo_post_main_2{
    font-size: 20px;
    text-align: center;
    margin-right: 30px;
    color: #FF0096;    
}

@media (max-width: 1250px){
    .titulo_post_main_2 {
        font-size: 18px;
    }
}

@media (max-width: 1080px){
    .titulo_post_main_2 {
        font-size: 18px;
    }
}

@media (max-width: 800px){
    .titulo_post_main_2 {
        font-size: 16px;
    }
}

.conteudo_post_main_2{
    margin-right: 30px;
    margin-top: 15px;
    font-size: 16px;
    color: #223885;  
    text-align: justify;  
}

@media (max-width: 1250px){
    .conteudo_post_main_2 {
        font-size: 15px;
    }
}

@media (max-width: 1080px){
    .conteudo_post_main_2 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 800px){
    .conteudo_post_main_2 {
        font-size: 13px;
    }
}

html,
body {
  position: relative;
  
}

.swiper {
  width: 70%;
  height: 70%;
}

@media (max-width: 500px){
    .swiper {
        width: 100%;
        height: 100%;
      }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}



