* {
    font-family: 'Gabriela', serif;
    margin: 0;
    padding: 0;
}

.borda_rosa {
    border: solid 2px #FF0096;
    box-shadow: 0px 0px 3px 1px #FF0096;
    padding: 5px;
}

body {
    background-color: #f4f7ff;
}

main {
    min-width: 300px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1250px){
   main{
        padding-left: 30px;
        padding-right: 30px;               
    }
}

main section div h1 {
    font-size: 35px;
    margin-top:50px;
    margin-bottom: 15px;
    color: #FF0096;
}

@media (max-width: 1250px){
    main section div h1{
         font-size: 27px;             
    }
}

@media (max-width: 800px){
main section div h1{
        font-size: 20px;             
    }
} 

main section div h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

@media (max-width: 1250px){
    main section div h2{
        font-size: 18px;             
    }
}

@media (max-width: 800px){
    main section div h2{
        font-size: 13px;             
    }
}

main section div h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

@media (max-width: 1250px){
    main section div h3{
        font-size: 16px;             
    }
}

@media (max-width: 800px){
    main section div h3{
        font-size: 11px;             
    }
}

main section div a {
    text-decoration: none;
    color: #FF0096;
}

section div img {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 1080px){
    section div img {
    width: 400px;
    }
}

@media (max-width: 800px){
    section div img {
       width: 250px;
    }
}

.section_posicao_1{
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 1080px){
    .section_posicao_1 {
        flex-direction: column-reverse;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
}

.section_posicao_1 h3{
    margin-top: 20px;
    margin-right: 30px;
}

.section_posicao_1 p{
    color: #223885;
    font-size: 18px;
    text-align: justify;
    margin-right: 30px;
    margin-bottom: 10px;
}

@media (max-width: 1250px){
    .section_posicao_1 p {
        font-size: 16px;       
    }
}

@media (max-width: 1080px){
    .section_posicao_1 p {
        font-size: 14px;       
    }
}

.section_posicao_2{
    display: flex;
    margin-bottom: 30px;
}

@media (max-width: 1080px){
    .section_posicao_2 {
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
}

.section_posicao_2 h3{
    margin-top: 20px;
    margin-left: 30px;
}

@media (max-width: 1080px){
    .section_posicao_2 h3 {
        margin-left: auto;
        margin-right: auto;
    }
}

.section_posicao_2 p{
    color: #223885;
    font-size: 18px;
    text-align: justify;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

@media (max-width: 1250px){
    .section_posicao_2 p {
        font-size: 16px;    
    }
}

@media (max-width: 1080px){
    .section_posicao_2 p {
        font-size: 14px; 
        margin-left: auto;
        margin-right: auto;   
    }
}