:root {
    --rosa-figcaption: #da0e6ab3;
    --rosa-header-claro: #ffedf7;
    --rosa-header-medio: #fcc5e5;
    --rosa-escuro: #FF0096;
    --rosa-claro: #FFE9F6;
    --rosa-claro-box: #fdf2f9;
    --azul-escuro: #223885;
    --azul-medio: #758ad3;
    --azul-claro: #f4f7ff;
    --cinza-header: #d0d3e0;
}

* {
    font-family: 'Gabriela', serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f7ff;
}

main {
    min-width: 300px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1250px){
    main{
        padding-left: 30px;
        padding-right: 30px;               
    }
}

main section {
    display: flex;
    text-align: justify;
    
}

main section img {
    width: 500px;
    margin-top: 20px;
}
@media (max-width: 1080px){
    section div img {
    width: 400px;
    }
}

@media (max-width: 800px){
    section div img {
       width: 250px;
    }
}

h1 {
    font-size: 30px;
    margin-top:50px;
    margin-bottom: 40px;
    color: #FF0096;
}

@media (max-width: 1150px){
    h1{
         font-size: 25px;             
    }
}

@media (max-width: 800px){
    h1{
        font-size: 20px;             
    }
} 

p {
    margin-bottom: 20px;
}

.borda_rosa {
    border: solid 2px #FF0096;
    box-shadow: 0px 0px 3px 1px #FF0096;
    padding: 5px;
}

.conteudo_info_main_2{
    display: flex; 
}

@media (max-width: 1080px){
    .conteudo_info_main_2 {
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;   
    }
}

.conteudo_info_main_2 p{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 16px;
    color: #223885;  
    text-align: justify;  
}

@media (max-width: 1080px){
    .conteudo_info_main_2 p{
        margin-left: auto;
        margin-right: auto; 
        font-size: 13px;    
    }
}

.conteudo_info_main_1{
    display: flex; 
}

@media (max-width: 1080px){
    .conteudo_info_main_1 {
        flex-direction: column-reverse;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;   
    }
}

.conteudo_info_main_1 p{
    margin-right: 30px;
    margin-top: 20px;
    font-size: 16px;
    color: #223885;   
    text-align: justify; 
}

@media (max-width: 1080px){
    .conteudo_info_main_1 p{
        margin-left: auto;
        margin-right: auto; 
        font-size: 14px;    
    }
}
