* {
    font-family: 'Gabriela', serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f7ff;
}

main {
    min-width: 300px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main section {
    margin-bottom: 50px;
}

main div h2 {
    display: none;
}

@media (max-width: 800px){
    main div h2 {
        display: block;            
        color: #223885;
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
    }
}

.borda_rosa {
    border: solid 2px #FF0096;
    box-shadow: 0px 0px 3px 1px #FF0096;
    padding: 5px;
}

.formulario {
    display: flex;
    justify-content: center
}

fieldset {
    border: solid 4px #FF0096;
    border-radius: 8px;
    color:  #223885;
    padding-top: 20px;
}

form {
    width: 50%;
}

legend {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    padding: 15px;
}

@media (max-width: 1080px){
    legend{
        font-size: 20px;     
    }
}

@media (max-width: 800px){
    legend{
        display: none;              
     }
}

.input_login {
    border: none;
    background: none;
    border-bottom: 1px solid #FF0096;
    outline: none;
    font-size: 13px;
    margin-left: 5px;
    width: 60%;
}

@media (max-width: 1080px){
    .input_login {
        font-size: 12px;        
    }
}

@media (max-width: 800px){
    .input_login {
        font-size: 8px;        
    }
}

.campos_input {
    margin-bottom: 10px;
}

.label_input{
    font-size: 17px;
    margin-left: 25px;
    margin-bottom: 10px;
}

@media (max-width: 1080px){
    .label_input{
        font-size: 14px;        
    }
}

@media (max-width: 800px){
    .label_input{
        font-size: 12px;        
    }
}

.opcao_auxiliar {
    margin-left: 25px;
    margin-top: 20px;
    font-size: 15px;
}

@media (max-width: 1080px){
    .opcao_auxiliar{
        font-size: 11px;      
    }
}

@media (max-width: 800px){
    .opcao_auxiliar{
        font-size: 8px;              
    }
}

.opcao_auxiliar p {
    margin-top: 5px;
}

.opcao_auxiliar span {
    color: #FF0096;
    font-weight: bold;
}

.submit {
    display: block;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #FF0096;
    font-weight: bold;
    font-size: 22px;
}

@media (max-width: 800px){
    .submit{
        font-size: 14px;          
     }
}

.submit:active {
    background-color: #758ad3;
    transition: background 0.15s;
    color: white; 
}