footer {
    height: 120px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, white, #FFE9F6);
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 1px #FF0096;
    box-shadow: 0px 0px 3px 1px #FF0096;
    
}

@media (max-width: 800px){
    footer{
        height: 100px;
    }
}

footer div h2 {
    padding-left: 20px;
}

.logo_redes_sociais {
    width: 40px;
    padding-left: 20px;   
    margin-top: 15px;
}

@media (max-width: 1080px){
    .logo_redes_sociais{
        width: 40px;        
    }
}

@media (max-width: 800px){
    .logo_redes_sociais{
        width: 30px;
        padding-left: 10px;
    }
}

.redes_sociais {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.footer_sobre{
    margin-right: auto;
    margin-left: auto;
}

.footer_sobre h2{
    padding-right: 20px;
}

footer div nav{
    padding-top: 10px;
}

@media (max-width: 800px){
    footer div nav {
        padding-top: 5px;
    }
}

footer div ul a {
    color: #223885;
    text-decoration: none;
}

footer div h2 {
    text-align: center;
    margin-bottom: 0;
}

footer nav ul li {
    text-align: center;
    color:#FF0096;
    margin-bottom: 5px;  
}

footer nav ul li a{
    color:#FF0096;
    font-size: 13px;
       
}

@media (max-width: 1080px){
    footer nav ul li a {
        font-size: 11px;        
    }
}

@media (max-width: 800px){
    footer nav ul li a {
        font-size: 8px;        
    }
}

footer nav ul li a:active {
    background-color: #fcc5e5;
    transition: background 0.15s;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

footer nav ul li a:hover {
    box-shadow: 0px 1px 0px 0px #FF0096;
}

footer h2 {
    color: #223885;
    font-size: 20px;
}

@media (max-width: 1320px){
    footer h2 {
        font-size: 17px;        
    }
}

@media (max-width: 1080px){
    footer h2 {
        font-size: 15px;        
    }
}

@media (max-width: 800px){
    footer h2 {
        font-size: 12px;        
    }
}

footer h3 {
    color: #223885;
}

