:root {
    --rosa-figcaption: #da0e6ab3;
    --rosa-header-claro: #ffedf7;
    --rosa-header-medio: #fcc5e5;
    --rosa-escuro: #FF0096;
    --rosa-claro: #FFE9F6;
    --rosa-claro-box: #fdf2f9;
    --azul-escuro: #223885;
    --azul-medio: #758ad3;
    --azul-claro: #f4f7ff;
    --cinza-header: #d0d3e0;
}

* {
    font-family: 'Gabriela', serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f7ff;
}

main {
    min-width: 300px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1250px){
    main{
         padding-left: 50px;
         padding-right: 50px;               
     }
 }

main section {
    text-align: justify;
    margin-bottom: 50px;
    margin-top: 50px;
}

main p {
    color:#223885;
    font-size: 17px;
    margin-bottom: 8px;
}

@media (max-width: 1150px){
    main p {
        font-size: 15px;       
    }
}

@media (max-width: 1080px){
    main p {
        font-size: 13px;       
    }
}

main h1 {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FF0096;
}

@media (max-width: 1150px){
    main h1 {
         font-size: 27px;             
    }
}

@media (max-width: 800px){
    main h1 {
        font-size: 22px;             
    }
} 

main h2 {
    color: #223885;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 1150px){
    main h2 {
         font-size: 18px;             
    }
}

@media (max-width: 800px){
    main h2 {
        font-size: 13px;             
    }
} 

.borda_rosa {
    border: solid 2px #FF0096;
    box-shadow: 0px 0px 3px 1px #FF0096;
    padding: 5px;
}
