:root {
    --rosa-figcaption: #da0e6ab3;
    --rosa-header-claro: #ffedf7;
    --rosa-header-medio: #fcc5e5;
    --rosa-escuro: #FF0096;
    --rosa-claro: #FFE9F6;
    --rosa-claro-box: #fdf2f9;
    --azul-escuro: #223885;
    --azul-medio: #758ad3;
    --azul-claro: #f4f7ff;
    --cinza-header: #d0d3e0;
}

* {
    font-family: 'Gabriela', serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f7ff;
}

main {
    min-width: 300px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1250px){
    main{
         padding-left: 50px;
         padding-right: 50px;               
     }
}

main section {
    text-align: justify;
    margin-bottom: 50px;
}

span {
    color: #FF0096;
    font-weight: bold;
}

p {
    color:#223885;
    font-size: 17px;
    margin-bottom: 8px;
}

@media (max-width: 1150px){
    p {
        font-size: 15px;       
    }
}

@media (max-width: 1080px){
    p {
        font-size: 13px;       
    }
}

h1 {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #FF0096;
}

@media (max-width: 1150px){
    h1 {
         font-size: 27px;             
    }
}

@media (max-width: 800px){
    h1 {
        font-size: 22px;             
    }
} 

h2 {
    font-size: 25px;
    color: #223885;
    margin-bottom: 10px;
}

@media (max-width: 1150px){
    h2 {
         font-size: 22px;             
    }
}

@media (max-width: 800px){
    h2 {
        font-size: 18px;             
    }
} 

h3 {
    color: #223885;
    font-size: 20px;
}

@media (max-width: 1150px){
    h3 {
         font-size: 18px;             
    }
}

@media (max-width: 900px){
    h3 {
        display: none;             
    }
} 

main section div img {
    margin-bottom: 50px;
    width: 250px;
}

@media (max-width: 900px){
    main section div img {
        margin-bottom: 20px; 
        width: 300px;            
    }
}

figure {
    position: relative;
}

#figcaption_quem_somos {
    display: none;    
}

@media (max-width: 900px){
    #figcaption_quem_somos {
        display: block;
    }
}

figcaption {
    position: absolute;
    bottom: 35px;
    font-size: 17px;
    left: 10px;
    color: white;
    background-color: rgba(218, 14, 106, 0.7);
    padding: 5px;
}

.borda_rosa {
    border: solid 2px #FF0096;
    box-shadow: 0px 0px 3px 1px #FF0096;
    padding: 5px;
}

.idealizadores {
    display: flex;
}

@media (max-width: 900px) {
    .idealizadores{
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
}

.idealizadores h3 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.idealizadores p {
    margin-left: 20px;
}

.idealizadores a {
    text-decoration: none;
    color:#223885;
}

.idealizadores a:active {
    background-color: #FF0096;
    transition: background 0.15s;
    color: white; 
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
