:root {
    --rosa-figcaption: #da0e6ab3;
    --rosa-header-claro: #ffedf7;
    --rosa-header-medio: #fcc5e5;
    --rosa-escuro: #FF0096;
    --rosa-claro: #FFE9F6;
    --rosa-claro-box: #fdf2f9;
    --azul-escuro: #223885;
    --azul-medio: #758ad3;
    --azul-claro: #f4f7ff;
    --cinza-header: #d0d3e0;
}

* {
    font-family: 'Gabriela', serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f7ff;
}

main {
    min-width: 300px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1250px){
    main{
        padding-left: 50px;
        padding-right: 50px;               
     }
}

main section {
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 800px){
    main section {
        flex-direction: column;  
        align-items: center;            
     }
}

main div h2 {
    display: none;
}

@media (max-width: 800px){
    main div h2 {
        display: block;            
        color: #223885;
        font-size: 15px;
        margin-bottom: 20px;
    }
}

@media (max-width: 800px){
    h2 {
        display: block;            
        color: #223885;
        font-size: 18px;
        margin-bottom: 20px;
    }
}

fieldset {
    border: solid 4px var(--rosa-escuro);
    border-radius: 8px;
    color: var(--azul-escuro);
    padding-top: 20px;
}

@media (max-width: 800px) {
    fieldset {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 500px) {
    fieldset {
        width: 300px;
        height: 350px;
    }
}

legend {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
    padding: 15px;
}

@media (max-width: 1080px){
    legend{
        font-size: 20px;
               
     }
}

@media (max-width: 800px){
    legend{
        display: none;        
     }
}

label {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 10px;
    font-weight: bold;  
}

@media (max-width: 800px){
    label {
        font-size: 12px; 
        margin-left: 0; 
        padding: 0;  
        padding-left: 10px;
        margin-left: 30px;   
    }
}

/*mexi aqui*/
input{
    border: none;
    border-bottom: 1px solid #FF0096;
    outline: none;
    padding: 5px 3px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 80%;
}


@media (max-width: 800px){
    input{
        font-size: 12px;  
        padding: 10px;  
        margin-left: 22px;  
        width: 80%; 
    }
}

textarea {
    border: solid 2px #FF0096;
    margin-left: 40px;
    padding: 5px 3px;
    width: 80%;
    height: 200px;
    outline: none;
}

@media (max-width: 800px){
    textarea {
        width: 80%; 
        height: 170px; 
        margin-left: 22px;  
        padding: 10px;        
    }
}

button {
    background: none;
    border: none;
    margin-left: 25px;
    margin-bottom: 20px;
    color: #FF0096;
    font-weight: bold;
    font-size: 22px;
    padding-left: 140px;
}

@media (max-width: 1080px) {
    button {
        display: block;
        margin: 0 auto;
        padding: 0;
        
    }
}

@media (max-width: 800px){
    button {
        font-size: 18px;          
     }
}

#pula_linha {
    display: none;
}

@media (max-width: 900px){
    #pula_linha {
        display: block;       
    }
}

.popup_obrigatorio::after {
    content: "*Campo obrigatório";
    color: #DFDFDF;
    font-size: 11px;
    padding: 3px;
    margin-left: 40px;  
    width: 110px;  
    background-color: #223885;
}

@media (max-width: 1080px){
    .popup_obrigatorio::after {
        font-size: 9px; 
    }
}

@media (max-width: 900px){
    .popup_obrigatorio::after {
        margin-left: 25px;
        padding: 2px;
        font-size: 8px;      
    }
}

.helper_text {
    display: block;
    margin-left: 40px;
    font-size: 11px;
    color: #FF0096;
    font-weight: bold;
    margin-bottom: 5px;
}

@media (max-width: 900px){
    .helper_text {
        margin-left: 25px;
        font-size: 8px;    
    }
}

.visivel {
    display: none;
}

.submit {
    display: block;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #FF0096;
    font-weight: bold;
    font-size: 22px;
}

@media (max-width: 900px){
    .submit{
        font-size: 14px;          
     }
}

.submit:active {
    background-color: #758ad3;
    transition: background 0.15s;
    color: white; 
}

