:root {
  --rosa-figcaption: #da0e6ab3;
  --rosa-header-claro: #ffedf7;
  --rosa-header-medio: #fcc5e5;
  --rosa-escuro: #FF0096;
  --rosa-claro: #FFE9F6;
  --rosa-claro-box: #fdf2f9;
  --azul-escuro: #223885;
  --azul-medio: #758ad3;
  --azul-claro: #f4f7ff;
  --cinza-header: #d0d3e0;
}

* {
  font-family: 'Gabriela', serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  max-width: 1200px;
}

@media (max-width: 574px) {
main{
margin-right: auto;
margin-left: auto;
text-align: center;
}
}

h1{
height: 50px;
margin-left: auto;
}

.conteiner1{
display: flex;
width:914px;
height:650px;
background-color: rgba(325, 138, 211, 0.1);
margin-right: auto;
margin-left: auto;
padding-top: 20px;
border: solid 2px #FF0096;
border-radius: 5px;
box-shadow: 0px 0px 3px 1px #FF0096;
}


@media (max-width: 990px){
.conteiner1{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 630px;
  height: 70%;
  padding-bottom: 20px;
}
}



@media (max-width: 574px) {
.conteiner1{
width: 350px;
margin-left: auto;
margin-right: auto;
}
}

#imagem-da-sorteada{
margin-top:10px;
margin:10px;
width: 350px;
height: 400px;
border: solid 2px #FF0096;
box-shadow: 0px 0px 3px 1px #FF0096;
border-radius: 5px;
width: 100%;

}

@media (max-width: 834px){
#imagem-da-sorteada{
  width: 300px;
  height: 350px;
}
}

@media (max-width: 574px){
#imagem-da-sorteada{
  width: 200px;
  height: 300px;
}
}

figure{
margin-right: 70px;
margin-left: 25px;
}

@media (max-width: 990px){
figure{
margin-right: 25px;
}
}

@media (max-width: 834px){
figure{
text-align: center;
}
}

figcaption{
font-size:x-large;
color:#FF0096;
margin: 10px;
}

p{
background-color: rgba(325, 138, 211, 0.1);
font-size:large;
color: #223885;
border: solid 2px #FF0096;
box-shadow: 0px 0px 3px 1px #FF0096;
border-radius: 5px;
margin-top: 25px;
margin-right: 30px;
margin-left: 30px;
padding: 10px;
width: 500px;
height: 65%;
text-align: justify;
background: linear-gradient(to bottom,#ffedf7, #fcc5e5 );
}


@media (max-width: 834px){
p{
width: 460px;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}
}

@media (max-width: 574px){
p{
width: 270px;
font-size: 12px;

}
}

/*MOBILE*/
@media (max-width: 390px){
p{
  width:215px;
}
}

.titulo_blue{
color: #223885;
font-size: x-large;
margin-top: 10px;
text-align: center;
}

@media (max-width: 574px){
.titulo_blue{
  font-size: small;
  margin-bottom: 15px;
  }
}

.titulo_rosa{
color: #FF0096;
font-size: 25px;
margin:auto;
width:914px;
text-align: start;
}

@media (max-width: 990px){
.titulo_rosa{

  }
}
@media (max-width: 990px){
.titulo_rosa{
  width:639px;
  }
}

@media (max-width: 574px) {
.titulo_rosa{
width: 350px;
text-align: center;
}
}

/*MOBILE*/
@media (max-width: 390px) {
.titulo_rosa{
width: 280px;
font-size: larger;
}
}

.ajudar{
width: 914px;
display: flex;
flex-direction: column;
justify-content: center;
margin-right: auto;
margin-left: auto;
}

@media (max-width: 990px){
.ajudar{
width:630px;
}
}



@media (max-width: 574px) {
.ajudar{
width: 350px;
margin-left: auto;
margin-right: auto;
}
}

/*MOBILE*/
@media (max-width: 390px) {
.ajudar{
  width: 260px;
}
}

.texto-como-ajudar{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 910px;
height: 110px;
margin-right: auto;
margin-left: auto;
padding: 3px;
}

@media (max-width: 990px){
.texto-como-ajudar{
  width:630px;
  height: 150px;
  }
}

  
@media (max-width: 574px){
.texto-como-ajudar{
  width: 350px;
  height: 105px;
  }
}

/*MOBILE*/
@media (max-width: 390px) {
.texto-como-ajudar{
width: 260px;
height: 120px;
margin-top: 10px;
}
}

 